/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #635bff;
  --ifm-color-primary-dark: #4238ff;
  --ifm-color-primary-darker: #3227ff;
  --ifm-color-primary-darkest: #0c00f2;
  --ifm-color-primary-light: #847eff;
  --ifm-color-primary-lighter: #948fff;
  --ifm-color-primary-lightest: #c6c3ff;
  --ifm-code-font-size: 95%;
}

html[data-theme="dark"] .docs-doc-page tr:nth-child(even) td:nth-child(n + 2) {
  opacity: 0.75;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] .navbar {
  background-color: #232f3e;
}
html[data-theme="dark"] {
  --ifm-background-color: #232f3e;
}

/* main[data-theme="dark"] {
  color: #ffffff;
} */

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.theme-doc-markdown a:hover {
  text-decoration: underline;
}
.theme-doc-markdown a:visited {
  text-decoration: underline;
}
.theme-doc-markdown a:link {
  text-decoration: underline;
}
.theme-doc-markdown a:active {
  text-decoration: underline;
}
